*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    background-color: aquamarine;
}
#general{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#valores{
    font-size: 4vh;
}