*{
    box-sizing: border-box;
    margin: 0vh;
    padding: 0vh;
}
html{
    background-color: black;
}
#general{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}
.celda{
    margin: 6vh;
    margin-top: 5vh;
}
.subcelda{
     width: 5vh;
     transition: background-color 0.5s ease;
     height: 3vh;
    margin-bottom: 3vh;
   background-color: rgb(43, 170, 192);
}
.subceldas{
     width: 5vh;
     height: 3vh;
    margin-bottom: 3vh;
    color: white;
}
.color{
    background-color: red;
}
.par{
    color: white;
    font-size: 1rem;
    text-align: center;
}