html{
    background-color: blanchedalmond;
}
#acontecimientos{
    font-size: 2rem;
}
#foreach{
    font-size: 2rem;
}
#juego{
font-size: 2rem;
}
#factorial{
    font-size:  2rem;
}
#fibonacci{
    font-size: 2rem;
}
#menu{
    font-size: 2rem;
}