#imagenes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}
#cambiar{
    width: 20%;
    border-radius: 10%;
    border: 2px solid black;
}
.img-con{
    margin-bottom: 10px;
    height: 25vh;
    width: 25vh;
}